.tab{
    background-color: transparent;
    border: 0;
    width: 100px;
    color: #ffffff;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    
}
.active{
    border-bottom-width: 4px;
    border-bottom-color: #fec653;
    border-bottom-style: solid;
    color: #fec653;
}
li{
    list-style-type: none;
}